dist: xenial
sudo: required
language: cpp
compiler: gcc

install:
  - sudo apt install libboost-dev
  - sudo apt-get install libboost-all-dev
  - sudo apt-get install lcov libcpprest-dev libcurl4-openssl-dev libssl-dev uuid-dev libjson-c-dev libjsoncpp-dev

env:
  - CPLUS_INCLUDE_PATH="/usr/local/include/:/usr/include/jsoncpp/:/usr/local/opt/openssl/include/:/usr/lib/"

script:
  - sh ./scripts/run_ut.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)
